---
import NextJS from "../icons/NextJS.astro"
import TailwindIcon from "../icons/Tailwind.astro"
import PCSoftIcon from "../icons/PCSoft.astro"
import ReactLogo from "../icons/React.astro"
import ViteLogo from "../icons/Vite.astro"
import StrapiIcon from "../icons/Strapi.astro"
import SQLIcon from "../icons/SQL.astro"
import FirebaseIcon from "../icons/Firebase.astro"
import AspIcon from "../icons/Asp.astro"
import AzureIcon from "../icons/Azure.astro"
import CIcon from "../icons/C.astro"
import BootstrapIcon from "../icons/Bootstrap.astro"
import JavascriptIcon from "../icons/Javascript.astro"
import AstroIcon from "../icons/Astro.astro"
const TAGS = {
    NEXT: {
        name: "Next.Js",
        class:"bg-black text-white",
        icon: NextJS
    },
    ASTRO: {
        name: "Astro",
        class: "bg-black text-white",
        icon: AstroIcon
    },
    TAILWIND: {
        name: "Tailwind",
        class: "text-white bg-[#003159]",
        icon: TailwindIcon
    },
    PCSOFT: {
        name: "Windev",
        class: "text-black bg-white",
        icon: PCSoftIcon
    },
    REACT: {
        name: "React",
        class: "text-white bg-cyan-100/10",
        icon: ReactLogo
    },
    VITE: {
        name: "Vite JS",
        class: "text-indigo-500 bg-white",
        icon: ViteLogo
    },
    STRAPI: {
        name: "Strapi",
        class: "text-white bg-gray-300/10",
        icon: StrapiIcon
    },
    SQL: {
        name: "SQL Server",
        class: "bg-black text-white",
        icon: SQLIcon
    },
    FIREBASE:{
        name: "Firebase",
        class: "bg-white text-orange-400/90",
        icon: FirebaseIcon  
    },
    ASP: {
        name: "ASP.Net",
        class: "bg-white text-cyan-800/90",
        icon: AspIcon
    },
    AZURE:{
        name: "Azure",
        class: "bg-black text-white",
        icon: AzureIcon
    },
    C:{
        name: "C#",
        class: "bg-white text-indigo-900",
        icon: CIcon
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-black text-white",
        icon: BootstrapIcon
    },
    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-white text-black",
        icon: JavascriptIcon
    }
}
const PROJECTS = [
    {
        title:'Medsoft',
        description:'Project developed in Windev, which fulfilled the objective of solving the assigned problem in this case was to manage a private medical clinic, the proposed solution is responsible for organizing the schedule of the doctors of the consultation, scheduling hours for customers, inventory control of medicines, allow controlled access to the software through a login, provide accessibility to examinations and diagnoses resulting from medical consultations, among other features.',
        link:'#',
        github:'#',
        image:'/projects/medsoft1.webp',
        tags:[ TAGS.SQL, TAGS.PCSOFT]
    },
    {
        title: 'Your first home',
        description: 'Project developed in React - Vite, which is focused on the real estate business playing the role of being the meeting point between the person who wants to buy/lease a property and the owner of the property.',
        link: '#',
        github: '#',
        image: '/projects/propertys1.webp',
        tags: [TAGS.REACT, TAGS.VITE, TAGS.TAILWIND, TAGS.STRAPI, TAGS.JAVASCRIPT]
    },
    {
        title: 'Operations request management',
        description: 'Project developed in ASP.Net, The operations department of the Universidad Santo Tomas - La Serena, is in charge of the functions of support and management of the furniture area of the establishment, these functions have some drawbacks for which this solution was developed through a web application that supports the operations team and solve the problems that arose.  ',
        link: '#',
        github: '#',
        image: '/projects/operaciones1.webp',
        tags: [TAGS.ASP, TAGS.SQL, TAGS.C, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT]
    },
    {
        title: 'Esmeralda Repos',
        description: 'Project developed in React - Vite, this project is developed for the business "Esmeralda Repos", focused on the sale of delicious cakes of all sizes and flavors. ',
        link: '#',
        github: '#',
        image: '../projects/esmeraldarepos.webp',
        tags: [TAGS.REACT, TAGS.VITE, TAGS.TAILWIND, TAGS.JAVASCRIPT]
    },
    {
        title: 'Porfolio',
        description: 'Project developed in Astro, since a portfolio is a fairly static page I used Astro as it is the best in terms of performance for static pages.',
        link: '#',
        github: '#',
        image: '../projects/porfolio.webp',
        tags: [TAGS.TAILWIND, TAGS.ASTRO]
    }
]
---
{
    PROJECTS.map(({ title, description, tags, image}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-100/90 mb-2 mt-24">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 md:gap-x-4 flex-row mb-4 ">
                {
                    tags.map(tag =>(
                        <li class="">
                            <span class={`flex md:gap-x-2  rounded-full text-xs ${tag.class} py-1 px-2`}>
                                <tag.icon class="size-4"/>
                                {tag.name}
                            </span>     
                        </li>
                    ))
                }
            </ul>
            <img src={image} alt="..." class="rounded-lg md:hover:scale-110 transition-all duration-400" />
            

        </article>
    ))
}